body {
}

.row .span > .palette {
	max-height: 300px;
	overflow: auto;
}

.thought {
    margin-bottom: 20px;
}

.count-logo {
    font-size: 50px;
    line-height: 60px;
}

.count-logo small {
    display: block;
}